$primary-color: rgb(52, 73, 94);
$secondary-color: rgb(171, 183, 183);
$accent-color: rgb(224, 130, 131);
$content-font: 'Lato', sans-serif;
$serif-font: 'Ovo', serif;
$width: 99%;
$break-mobile: 320px;
$break-tablet: 700px;

html {
  // background-color: $primary-color;
  background-image: url(/assets/images/background.jpeg);
  background-size: contain;
}

.name-container{
  width: $width/2;
  display: inline-block;
  margin-left: 3px;
  margin-top: 10px;
  color: rgb(255, 255, 255);

  #header-lname{
    padding-left: 3px;
    display: inline;
    font-size: 1.2;
    text-transform: uppercase;
    letter-spacing: 3px;
    // display: inline;
    // font-family: $serif-font;
    // font-size: 1.6em;
    color: $secondary-color;
  }

  #header-fname{
    letter-spacing: 3px;
    display: inline;
    font-family: $serif-font;
    font-size: 1.4em;
    color: $accent-color;
  }
}

.nav-bar {
  display: inline-block;
  width: $width/2;
  font-size: .8em;
  text-transform: uppercase;
  text-align: right;
  margin-top: 10px;
  margin-right: 2px;

  a{
    letter-spacing: 3px;
    margin-left: 2em;
    color: rgb(255, 255, 255);
    width: 100px;
    text-decoration: none;
  }

  a:hover{
    color: $secondary-color;
  }

  i {
    color: $accent-color;
  }

  i:hover{
    color: $secondary-color;
  }
}

.hero-flat-color{
  // background-color: rgb(255, 255, 255);
  height: 300px;

  .hero-header{
    padding-top: 100px;
  }

  .hero-text{
    color: $primary-color;
    -webkit-animation: typing 10s steps(33, end);
    -moz-animation: typing 10s steps(33, end);
    animation: typing 10s steps(33, end);
  }

  #hero-i {
    display: inline;
    margin-left: 60%;
    padding-right: .2em;
    font-family: $content-font;
    font-size: 2.1em;
  }

  #hero-dev {
    display: inline;
    font-family: $serif-font;
    font-size: 2.2em;
    color: white;
  }

  #hero-web {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 60%;
    font-family: $content-font;
    font-size: 2.1em;
  }

}

// contains portfolio pieces
.portfolio-cont{
  padding-top: 10px;
  background-color: white;
}

.portfolio-header{
  color: $accent-color;
  font-family: $serif-font;
  letter-spacing: 5px;
  text-align: center;
}

.project-one {
  // height: 400px;
  // border: 1px solid yellow;
  margin-left: 10%;
  margin-right: 10%;

  .col-one-third {
    // border: 1px solid black;
    vertical-align: top;
    display: inline-block;
    width: $width/3;
    // height: 400px;
    border-top: 3px solid $secondary-color;
    -webkit-column-break-inside: avoid;
    @media screen and (max-width: $break-mobile){
      width: $width;
    }
    @media screen and (max-width: $break-tablet){
      width: $width;
    }
  }

  .col-two-third {
    // border: 1px solid red;
    vertical-align: top;
    display: inline-block;
    width: $width/3*2;
    // height: 400px;
    border-top: 3px solid $secondary-color;
    @media screen and (max-width: $break-mobile){
      // width: $width/3;
      width: 100%;
      // min-width: $width;
    }
    @media screen and (max-width: $break-tablet){
      width: $width/3*2;
    }
  }

  .portfolio-imgs{
    // height: auto;
    // width: 100%;
    max-width: 100%;
    max-height: 100%;
  }

}

.project-two {
  @extend .project-one
}

.project-three {
  @extend .project-one
}

.project-four{
  @extend .project-one

}

.rider-desc{
  color: $primary-color;
}

.rider-tech{
  font-size: .9em;
  padding-left: 0;
  color: $accent-color;
  font-family: $serif-font;

  li{
    list-style: none;
    font-family: $content-font;
  }
}

.port-icon{
  // padding: 5px;
  color: $secondary-color;
}

.tool-box{
  height: 200px;
  background-color: $secondary-color;

  .tools-header{
    font-size: 1.5em;
    display: inline;
    color: $primary-color;
  }

  #tools-first{
    margin-left: 45%;
  }

  #tools-of{
    font-family: $serif-font;
    color: $accent-color;
  }
}
