html, body {
  background-image: url(/assets/images/big-sur-nc.jpg);
  background-size: contain;
  overflow-x: hidden;
  background-repeat: no-repeat; }

.main-header {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 1; }

.name-container {
  width: 48.5%;
  display: inline-block;
  margin-left: 1em;
  color: white;
  z-index: 2;
  position: absolute; }
  @media screen and (max-width: 425px) {
    .name-container {
      margin-left: .3em; } }
  .name-container #name-border-top {
    margin-top: 1em;
    margin-left: 1em;
    width: 150px;
    height: 1em;
    border-top: 2px solid #abb7b7;
    border-right: 2px solid #abb7b7;
    border-left: 2px solid #abb7b7; }
    @media screen and (max-width: 425px) {
      .name-container #name-border-top {
        width: 80px;
        height: .4em;
        margin-bottom: -3px;
        margin-left: .7em; } }
  .name-container #name-border-bottom {
    padding-bottom: .5em;
    margin-left: 1em;
    width: 150px;
    height: 1em;
    border-right: 2px solid #abb7b7;
    border-bottom: 2px solid #abb7b7;
    border-left: 2px solid #abb7b7; }
    @media screen and (max-width: 425px) {
      .name-container #name-border-bottom {
        width: 80px;
        height: .2em;
        margin-left: .7em;
        padding-bottom: .2em; } }
  .name-container sup {
    color: white;
    font-size: .2em;
    margin-left: 2em;
    display: inline-block;
    text-transform: uppercase;
    word-spacing: 3px; }
    @media screen and (max-width: 425px) {
      .name-container sup {
        display: none; } }
  .name-container #header-lname {
    padding-left: 3px;
    display: inline;
    font-size: 1.2;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #34495e; }
    @media screen and (max-width: 425px) {
      .name-container #header-lname {
        font-size: .5em;
        letter-spacing: 2px; } }
  .name-container #header-fname {
    padding-right: 3px;
    display: inline;
    font-size: 1.2;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #e69b9b; }
    @media screen and (max-width: 425px) {
      .name-container #header-fname {
        font-size: .5em;
        letter-spacing: 2px; } }

.nav-bar {
  display: inline-block;
  width: 48.5%;
  font-size: .8em;
  text-transform: uppercase;
  text-align: right;
  margin-right: 2px;
  margin-left: 50%;
  margin-top: .5em;
  vertical-align: top; }
  @media screen and (min-width: 801px) {
    .nav-bar {
      display: inline-block !important; } }
  .nav-bar a {
    letter-spacing: 3px;
    margin-left: 2em;
    color: white;
    width: 100px;
    text-decoration: none; }
  .nav-bar a:hover {
    color: #e08283; }
  .nav-bar i {
    color: white; }
  .nav-bar i:hover {
    color: #abb7b7; }

@media screen and (max-width: 800px) {
  .nav-bar.hamburger {
    background-color: #34495e;
    display: none;
    padding-top: 1em;
    text-align: center;
    padding-left: 45%;
    position: absolute;
    z-index: 3;
    margin: 0;
    width: 99%;
    vertical-align: top; }
    .nav-bar.hamburger a {
      margin: 1em 0 1em 0;
      display: block; } }
@media screen and (max-width: 425px) {
  .nav-bar.hamburger {
    background-color: #34495e;
    display: none;
    padding-top: 1em;
    text-align: center;
    padding-left: 40%;
    position: absolute;
    z-index: 3;
    margin: 0;
    width: 99%;
    vertical-align: top; } }

#burger-icon {
  display: none;
  margin-top: .5em; }
  @media screen and (max-width: 800px) {
    #burger-icon {
      display: block;
      width: auto;
      margin-left: 90%;
      color: #eee;
      position: absolute;
      z-index: 4; } }
  @media screen and (max-width: 425px) {
    #burger-icon {
      display: inline-block;
      float: right;
      color: white; } }

.hero-flat-color {
  height: 650px; }
  @media screen and (max-width: 800px) {
    .hero-flat-color {
      height: 300px; } }
  @media screen and (max-width: 425px) {
    .hero-flat-color {
      height: 200px; } }
  .hero-flat-color .hero-header {
    padding-right: 10px;
    padding-top: 100px; }
    @media screen and (max-width: 425px) {
      .hero-flat-color .hero-header {
        padding-top: 100px; } }
  .hero-flat-color .hero-text {
    color: #34495e; }
  .hero-flat-color #hero-i {
    display: inline;
    margin-left: 57%;
    padding-right: .2em;
    font-family: "Lato", sans-serif;
    font-size: 2.1em; }
    @media screen and (max-width: 800px) {
      .hero-flat-color #hero-i {
        font-size: 1.2em;
        margin-left: 60%; } }
    @media screen and (max-width: 490px) {
      .hero-flat-color #hero-i {
        font-size: .9em;
        margin-left: 50%;
        margin-bottom: 0;
        color: white; } }
  .hero-flat-color #hero-dev {
    display: inline;
    font-family: "Ovo", serif;
    font-size: 2.2em;
    color: white; }
    @media screen and (max-width: 800px) {
      .hero-flat-color #hero-dev {
        font-size: 1.3em; } }
    @media screen and (max-width: 490px) {
      .hero-flat-color #hero-dev {
        font-size: 1em; } }
  .hero-flat-color #hero-web {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 57%;
    font-family: "Lato", sans-serif;
    font-size: 2.1em; }
    @media screen and (max-width: 800px) {
      .hero-flat-color #hero-web {
        font-size: 1.2em;
        margin-left: 60%; } }
    @media screen and (max-width: 490px) {
      .hero-flat-color #hero-web {
        font-size: .9em;
        margin-left: 50%;
        color: white; } }

.portfolio-cont {
  padding-top: 10px;
  background-color: white; }

.portfolio-header {
  color: #e08283;
  font-family: "Ovo", serif;
  letter-spacing: 5px;
  text-align: center; }

.project-one, .project-two, .project-three, .project-four {
  font-family: "Lato", sans-serif;
  margin-left: 10%;
  margin-right: 10%; }
  .project-one .col-one-third, .project-two .col-one-third, .project-three .col-one-third, .project-four .col-one-third {
    vertical-align: top;
    display: inline-block;
    width: 33%;
    border-top: 3px solid #abb7b7;
    -webkit-column-break-inside: avoid; }
    @media screen and (max-width: 425px) {
      .project-one .col-one-third, .project-two .col-one-third, .project-three .col-one-third, .project-four .col-one-third {
        width: 99%; } }
    @media screen and (max-width: 800px) {
      .project-one .col-one-third, .project-two .col-one-third, .project-three .col-one-third, .project-four .col-one-third {
        width: 99%; } }
  .project-one .col-two-third, .project-two .col-two-third, .project-three .col-two-third, .project-four .col-two-third {
    vertical-align: top;
    display: inline-block;
    width: 66%;
    border-top: 3px solid #abb7b7; }
    @media screen and (max-width: 425px) {
      .project-one .col-two-third, .project-two .col-two-third, .project-three .col-two-third, .project-four .col-two-third {
        height: 100%;
        width: 99%; } }
    @media screen and (max-width: 800px) {
      .project-one .col-two-third, .project-two .col-two-third, .project-three .col-two-third, .project-four .col-two-third {
        width: 99%; } }
  .project-one .portfolio-imgs, .project-two .portfolio-imgs, .project-three .portfolio-imgs, .project-four .portfolio-imgs {
    max-width: 100%;
    max-height: 100%; }
  .project-one .rider-desc, .project-two .rider-desc, .project-three .rider-desc, .project-four .rider-desc, .project-two .chat-desc, .project-three .view-mode-desc {
    font-size: 1em;
    color: #34495e; }
  .project-one .rider-tech, .project-two .rider-tech, .project-three .rider-tech, .project-four .rider-tech, .project-two .chat-tech, .project-three .view-mode-tech {
    font-family: "Ovo", serif;
    font-size: 1em;
    letter-spacing: 3px;
    padding-left: 0;
    color: #8a9b9b; }
    .project-one .rider-tech li, .project-two .rider-tech li, .project-three .rider-tech li, .project-four .rider-tech li, .project-two .chat-tech li, .project-three .view-mode-tech li {
      list-style: none;
      font-family: "Lato", sans-serif;
      color: #8a9b9b;
      font-size: .9em;
      letter-spacing: normal; }
  .project-one .port-icon, .project-two .port-icon, .project-three .port-icon, .project-four .port-icon {
    color: #e08283;
    padding: 5px; }
  .project-one .port-icon:hover, .project-two .port-icon:hover, .project-three .port-icon:hover, .project-four .port-icon:hover {
    color: #abb7b7; }
  .project-one #rider-icon, .project-two #rider-icon, .project-three #rider-icon, .project-four #rider-icon {
    margin-left: 33%; }
    @media screen and (max-width: 800px) {
      .project-one #rider-icon, .project-two #rider-icon, .project-three #rider-icon, .project-four #rider-icon {
        margin-left: 40%; } }

.tool-box {
  padding-left: 10%;
  padding-top: 1.5em;
  height: auto;
  padding-bottom: 1em;
  background-color: #34495e; }
  .tool-box .tools-header {
    margin-left: 35%;
    font-weight: 200;
    font-size: 1.5em;
    display: inline;
    color: white;
    letter-spacing: 3px;
    font-family: "Ovo", serif;
    color: #e08283; }
    @media screen and (max-width: 800px) {
      .tool-box .tools-header {
        margin-left: 5%; } }
    @media screen and (max-width: 425px) {
      .tool-box .tools-header {
        margin-left: 10%; } }
  .tool-box .tools-list {
    padding-left: 0px;
    font-family: "Lato", sans-serif;
    list-style: none;
    color: white; }
    .tool-box .tools-list li {
      vertical-align: top;
      display: inline-block;
      width: 28%;
      margin-right: 2%;
      margin-top: 1em;
      font-size: .87em; }
      @media screen and (max-width: 425px) {
        .tool-box .tools-list li {
          margin-left: 0;
          display: block;
          width: 90%;
          margin-right: 2%; } }
      @media screen and (max-width: 800px) {
        .tool-box .tools-list li {
          margin-left: 0;
          display: block;
          width: 90%;
          margin-right: 2%; } }
      .tool-box .tools-list li span {
        float: left;
        font-size: 115%;
        margin: 0 15px 90px 0;
        color: #abb7b7; }
        @media screen and (max-width: 425px) {
          .tool-box .tools-list li span {
            float: left;
            font-size: 100%;
            margin: 0 6px 0 0;
            font-size: 1em; } }
        @media screen and (max-width: 800px) {
          .tool-box .tools-list li span {
            float: left;
            font-size: 100%;
            margin: 0 5px 0 0;
            font-size: 1em; } }

.about-section {
  margin-bottom: 10%;
  background-color: white;
  padding-top: 1.5em; }
  @media screen and (max-width: 800px) {
    .about-section {
      margin-bottom: 15%; } }
  .about-section #about-header {
    font-size: 1.5em;
    padding-right: 3%;
    padding-left: 3%;
    color: #e08283;
    font-family: "Ovo", serif;
    letter-spacing: 5px;
    text-align: center; }
  .about-section .sum-about-me {
    font-family: "Lato", sans-serif;
    color: #34495e;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%; }
    @media screen and (max-width: 425px) {
      .about-section .sum-about-me {
        margin-bottom: 10%; } }
    @media screen and (max-width: 800px) {
      .about-section .sum-about-me {
        margin-bottom: 10%; } }
  .about-section .a-container {
    padding-right: 10%;
    text-align: center; }
  .about-section a {
    color: #db6e6f;
    text-decoration: none;
    border-left: 3px solid #abb7b7;
    margin-left: 1em;
    padding-left: 1.5em;
    letter-spacing: 3px; }
  .about-section a:first-of-type {
    border: none;
    margin-left: none;
    padding-left: none; }
  .about-section a:hover {
    color: #34495e; }

.footer {
  margin-top: 0;
  padding-bottom: 1em;
  padding-top: 10px;
  background-color: #e5e8e8;
  text-transform: uppercase; }
  .footer h3 {
    font-size: .9em;
    letter-spacing: 3px;
    color: #34495e;
    margin-left: 75%;
    padding-bottom: 0;
    margin-bottom: 0; }
    @media screen and (max-width: 800px) {
      .footer h3 {
        margin-left: 70%; } }
    @media screen and (max-width: 425px) {
      .footer h3 {
        margin-left: 0; } }
  @media screen and (max-width: 425px) {
    .footer .a-footer-cont {
      text-align: center; } }
  .footer a {
    padding-right: .7em;
    text-decoration: none;
    color: #db6e6f; }
  .footer a:hover {
    color: #34495e; }
  .footer a:first-of-type {
    margin-left: 75%; }
    @media screen and (max-width: 800px) {
      .footer a:first-of-type {
        margin-left: 70%; } }
    @media screen and (max-width: 425px) {
      .footer a:first-of-type {
        margin-left: 0; } }
  .footer .designed-by {
    margin-left: 10%;
    padding-top: 10px;
    float: left;
    font-size: .7em;
    color: #e08283; }
    @media screen and (max-width: 425px) {
      .footer .designed-by {
        text-align: center;
        width: 80%;
        margin-left: 10%;
        font-size: .6em; } }

/*# sourceMappingURL=styles.css.map */
