$primary-color: rgb(52, 73, 94);
$secondary-color: rgb(171, 183, 183);
$accent-color: rgb(224, 130, 131);
$content-font: 'Lato', sans-serif;
$serif-font: 'Ovo', serif;
$width: 99%;
$break-mobile: 425px;
$break-tablet: 800px;

html, body {
  // background-image: url(/assets/images/background.jpeg);
  background-image: url(/assets/images/big-sur-nc.jpg);
  background-size: contain;
  overflow-x: hidden;
  background-repeat: no-repeat;
}

.main-header{
  width: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 1;
}

.name-container{
  width: $width/2-1;
  display: inline-block;
  margin-left: 1em;
  color: rgb(255, 255, 255);
  z-index: 2;
  position: absolute;
  @media screen and (max-width: $break-tablet ) {
    }
  @media screen and (max-width: $break-mobile ) {
    margin-left: .3em;
    }


  #name-border-top{
    margin-top: 1em;
    margin-left: 1em;
    width: 150px;
    height: 1em;
    border-top: 2px solid $secondary-color;
    border-right: 2px solid $secondary-color;
    border-left: 2px solid $secondary-color;
    @media screen and (max-width: $break-mobile ) {
        width: 80px;
        height: .4em;
        margin-bottom: -3px;
        margin-left: .7em;
      }
  }

  #name-border-bottom{
    padding-bottom: .5em;
    margin-left: 1em;
    width: 150px;
    height: 1em;
    border-right: 2px solid $secondary-color;
    border-bottom: 2px solid $secondary-color;
    border-left: 2px solid $secondary-color;
    @media screen and (max-width: $break-mobile ) {
        width: 80px;
        height: .2em;
        margin-left: .7em;
        padding-bottom: .2em;
      }
  }

  sup{
    color: white;
    font-size: .2em;
    margin-left: 2em;
    display: inline-block;
    text-transform: uppercase;
    word-spacing: 3px;
    @media screen and (max-width: $break-mobile ) {
      display: none;
    }
  }

  #header-lname{
    padding-left: 3px;
    display: inline;
    font-size: 1.2;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $primary-color;
    @media screen and (max-width: $break-mobile ) {
        font-size: .5em;
        letter-spacing: 2px;
      }

  }

  #header-fname{
    padding-right: 3px;
    display: inline;
    font-size: 1.2;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: lighten($accent-color, 6%);
    @media screen and (max-width: $break-mobile ) {
        font-size: .5em;
        letter-spacing: 2px;
      }
  }
}

.nav-bar {
  display: inline-block;
  width: $width/2-1;
  font-size: .8em;
  text-transform: uppercase;
  text-align: right;
  margin-right: 2px;
  margin-left: 50%;
  margin-top: .5em;
  vertical-align: top;
  @media screen and (min-width: 801px) {
       display: inline-block !important;
     }

  a{
    letter-spacing: 3px;
    margin-left: 2em;
    color: rgb(255, 255, 255);
    width: 100px;
    text-decoration: none;
  }

  a:hover{
    color: $accent-color;
  }

  i {
    color: rgb(255, 255, 255);
  }

  i:hover{
    color: $secondary-color;
  }
} // closes nav-bar


.nav-bar.hamburger{

  @media screen and (max-width: $break-tablet){
    background-color: $primary-color;
    display: none;
    padding-top: 1em;
    text-align: center;
    padding-left: 45%;
    position: absolute;
    z-index: 3;
    margin: 0;
    width: $width;
    vertical-align: top;

    a {
      margin: 1em 0 1em 0;
      display: block;
    }

  }
  @media screen and (max-width: $break-mobile){
    background-color: $primary-color;
    display: none;
    padding-top: 1em;
    text-align: center;
    padding-left: 40%;
    position: absolute;
    z-index: 3;
    margin: 0;
    width: $width;
    vertical-align: top;
  }
}

#burger-icon{
    display: none;
    margin-top: .5em;

  @media screen and (max-width: $break-tablet){
    // margin-top: 1em;
    display: block;
    width: auto;
    margin-left: 90%;
    color: #eee;
    position: absolute;
    z-index: 4;
  }
  @media screen and (max-width: $break-mobile){
    // margin-top: 1em;
    display: inline-block;
    float: right;
    color: white;
  }
}

.hero-flat-color{
  height: 650px;
  @media screen and (max-width: $break-tablet){
    height: 250px;
  }
  @media screen and (max-width: $break-mobile){
    height: 150px;
  }

  .hero-header{
    padding-right: 10px;
    padding-top: 100px;
    @media screen and (max-width: $break-tablet){
    }
    @media screen and (max-width: $break-mobile){
      padding-top: 80px;
    }
  }

  .hero-text{
    color: $primary-color;
    // -webkit-animation: typing 10s steps(33, end);
    // -moz-animation: typing 10s steps(33, end);
    // animation: typing 10s steps(33, end);
  }

  #hero-i {
    display: inline;
    margin-left: 57%;
    padding-right: .2em;
    font-family: $content-font;
    font-size: 2.1em;
    @media screen and (max-width: $break-tablet){
      font-size: 1.2em;
      margin-left: 60%;
    }
    @media screen and (max-width: 490px){
      font-size: .9em;
      margin-left: 50%;
      margin-bottom: 0;
      color: rgb(255, 255, 255);
    }
  }

  #hero-dev {
    display: inline;
    font-family: $serif-font;
    font-size: 2.2em;
    color: rgb(255, 255, 255);
    @media screen and (max-width: $break-tablet){
      font-size: 1.3em;
    }
    @media screen and (max-width: 490px){
      font-size: 1em;
    }
  }

  #hero-web {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 57%;
    font-family: $content-font;
    font-size: 2.1em;
    @media screen and (max-width: $break-tablet){
      font-size: 1.2em;
      margin-left: 60%;

    }
    @media screen and (max-width: 490px){
      font-size: .9em;
      margin-left: 50%;
      color: rgb(255, 255, 255);
    }
  }

} // closes hero-flat-color

// below contains portfolio pieces
.portfolio-cont{
  padding-top: 10px;
  background-color: white;
}

.portfolio-header{
  color: $accent-color;
  font-family: $serif-font;
  letter-spacing: 5px;
  text-align: center;
}

.project-one {
  font-family: $content-font;
  margin-left: 10%;
  margin-right: 10%;

  .col-one-third {
    vertical-align: top;
    display: inline-block;
    width: $width/3;
    border-top: 3px solid $secondary-color;
    -webkit-column-break-inside: avoid;
    @media screen and (max-width: $break-mobile){
      width: $width;
    }
    @media screen and (max-width: $break-tablet){
      width: $width;
    }
  }

  .col-two-third {
    vertical-align: top;
    display: inline-block;
    width: $width/3*2;
    border-top: 3px solid $secondary-color;
    @media screen and (max-width: $break-mobile){
      height: 100%;
      width: $width;
    }
    @media screen and (max-width: $break-tablet){
      width: $width;
    }
  }

  .portfolio-imgs{
    max-width: 100%;
    max-height: 100%;
  }

}

.project-two {
  @extend .project-one;
}

.project-three {
  @extend .project-one;
}

.project-four{
  @extend .project-one;

}

.rider-desc{
  font-size: 1em;
  color: $primary-color;
}

.rider-tech{
  font-family: $serif-font;
  font-size: 1em;
  letter-spacing: 3px;
  padding-left: 0;
  color: darken($secondary-color, 12%);

  li{
    list-style: none;
    font-family: $content-font;
    color: darken($secondary-color, 12%);
    font-size: .9em;
    letter-spacing: normal;
  }
}

.port-icon{
  color: $accent-color;
  padding: 5px;
}

.port-icon:hover{
  color: $secondary-color;
}

#rider-icon{
  margin-left: 33%;
  @media screen and (max-width: $break-tablet){
    margin-left: 40%;
  }
}

.tool-box{
  padding-left: 10%;
  padding-top: 1.5em;
  height: auto;
  padding-bottom: 1em;
  background-color: $primary-color;

  .tools-header{
    // margin-left: 40%;
    margin-left: 35%;
    font-weight: 200;
    font-size: 1.5em;
    display: inline;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    font-family: $serif-font;
    color: $accent-color;
    @media screen and (max-width: $break-tablet){
      margin-left: 5%;
    }
    @media screen and (max-width: $break-mobile){
      margin-left: 10%;
    }
  }

  .tools-list{
    padding-left: 0px;
    font-family: $content-font;
    list-style: none;
    color: rgb(255, 255, 255);

    li{
      vertical-align: top;
      display: inline-block;
      width: 28%;
      // margin-left: 2%;
      margin-right: 2%;
      margin-top: 1em;
      font-size: .87em;
      @media screen and (max-width: $break-mobile){
        margin-left: 0;
        display: block;
        width: 90%;
        margin-right: 2%;
      }
      @media screen and (max-width: $break-tablet){
        margin-left: 0;
        display: block;
        width: 90%;
        margin-right: 2%;
      }

      span{
        float: left;
        font-size: 115%;
        margin: 0 15px 90px 0;
        color: $secondary-color;
        @media screen and (max-width: $break-mobile){
          float: left;
          font-size: 100%;
          margin: 0 6px 0 0;
          font-size: 1em;
        }
        @media screen and (max-width: $break-tablet){
          float: left;
          font-size: 100%;
          margin: 0 5px 0 0;
          font-size: 1em;
        }
      }
    }
  }
}

.about-section{
  margin-bottom: 10%;
  background-color: white;
  padding-top: 1.5em;
  // padding-bottom: 5%;
  @media screen and (max-width: $break-mobile){
    // padding-bottom: 10%;
  }
  @media screen and (max-width: $break-tablet){
    // padding-bottom: 10%;
    margin-bottom: 15%;
  }

  #about-header{
    font-size: 1.5em;
    padding-right: 3%;
    padding-left: 3%;
    color: $accent-color;
    font-family: $serif-font;
    letter-spacing: 5px;
    text-align: center;
  }

  .sum-about-me{
    font-family: $content-font;
    color: $primary-color;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    @media screen and (max-width: $break-mobile){
      margin-bottom: 10%;
    }
    @media screen and (max-width: $break-tablet){
      margin-bottom: 10%;
    }
  }

  .a-container{
    padding-right: 10%;
    text-align: center;
  }

  a{
    color: darken($accent-color, 5%);
    text-decoration: none;
    border-left: 3px solid $secondary-color;
    margin-left: 1em;
    padding-left: 1.5em;
    letter-spacing: 3px;
  }

  a:first-of-type{
    border: none;
    margin-left: none;
    padding-left: none;
  }

  a:hover{
    color: $primary-color;
  }
}

.footer {
  margin-top: 0;
  padding-bottom: 1em;
  padding-top: 10px;
  background-color: lighten($secondary-color, 21%);
  text-transform: uppercase;

  h3 {
    width: $width/4;
    font-size: .9em;
    letter-spacing: 3px;
    color: $primary-color;
    // margin-left: 43%;
    margin-left: 75%;
    padding-bottom: 0;
    margin-bottom: 0;
    @media screen and (max-width: $break-tablet){
      margin-left: 40%;
      width: $width/2;
      display: block;
    }
    @media screen and (max-width: $break-mobile){
      margin-left: 28%;
      width: $width/2;
    }
  }

  a{
    padding-right: .7em;
    display: inline-block;
    text-decoration: none;
    color: darken($accent-color, 5%);

  }

  a:hover{
    color: $primary-color;
  }

  a:first-of-type{
    margin-left: 75%;
    @media screen and (max-width: $break-tablet){
      margin-left: 40%;
    }
    @media screen and (max-width: $break-mobile){
      margin-left: 28%;
    }
  }

  sub {
    margin-left: 10%;
    padding-top: 10px;
    float: left;
    font-size: .7em;
    color: $accent-color;
    @media screen and (max-width: $break-tablet){
      width: 100%;
      margin-left: 28%;
      padding-bottom: 1em;
    }
    @media screen and (max-width: $break-mobile){
      text-align: center;
      width: 80%;
      margin-left: 10%;
      font-size: .6em;
    }
  }
}
